{% extends "base.html" %}

{% block main_content %}

    <form action="" method = "POST" novalidate>
        {{ form.hidden_tag() }}
        {{ form.ID.label }}
        {{ form.ID() }}
        {% for error in form.ID.errors %}
            {{ error }}
        {% endfor %}

        <br />

        {{ form.Password.label }}
        {{ form.Password() }}
        {% for error in form.Password.errors %}
            {{ error }}
        {% endfor %}

        <br />

        {{ form.Submit() }}
    </form>

{% endblock %}