{% extends "base.html" %}

{% block main_content %}

        <h1> Reference and Licences </h1>
        <article>

            <p>
                Logo: <a href="https://www.canva.com/design/DAF_ezO6SYI/KBYy3lz81hsCsMXRxiQZGg/edit">Web Link</a>
            </p>

            <p>
                Background: <a href="https://tiled-bg.blogspot.com/2012/11/sands-website-background.html">Web Link</a> |
                <a href="https://creativecommons.org/licenses/by/3.0/">Licence</a>
            </p>

            <p>
                Plus sign: <a href="https://pngimg.com/image/40992">Web Link</a> |
                <a href="https://pngimg.com/license">Licence</a>
            </p>

            <p>
                Eye symbol: <a href="https://pixabay.com/vectors/eye-icon-symbol-look-vision-see-1915455/"> Web Link</a>
            </p>

            <p>
                Up arrow: <a href="https://www.kindpng.com/imgv/miwhRR_transparent-drawn-arrow-png-up-arrow-hand-drawn/">Web Link</a>
            </p>

            <p>
                Down arrow: <a href="https://freepngimg.com/png/24747-down-arrow-transparent-picture"> Web Link</a>
            </p>

            <p>
                Font 1: <a href="https://fonts.google.com/specimen/Goudy+Bookletter+1911?query=book">Web Link</a> |
                <a href="https://openfontlicense.org/">Licence</a>
            </p>

            <p>
                Font 2: <a href="https://fontlibrary.org/en/font/kamillo-grotesk">Web Link</a>
            </p>
       
        
    </article>
{% endblock %}

    
    

